main{
  .main{
    nav{
      ul{
        text-align: center;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(140px,1fr));
        li {
          font-size: 1.2rem;
          list-style-type: none;
          color:$color_primary;
          background-color:$color_tertiary;
          padding:20px;
          margin:10px;

        }
      }
    }
    form{
        text-align: center;

        .button {
          margin:60px;
          background-color:red;

          color: white;
          border:none;
          padding: 2.5rem 1.5rem;
          text-align: center;
          text-decoration: none;
          font-size: 2rem;
          font-weight: bold;
          border-radius: 50%;


      }
    }
  }
  }
