header
  {

.menu{
  text-align: center;

  img
  {
    grid-column: 1/2;
    height:50px;
    width:auto;
    vertical-align: bottom;
    margin-top: 20px;
  }
  h1
  {

    grid-column: 2/3;
    font-size: 2.5rem;
    margin: 0px;
    display: inline-block;
    color:$color_tertiary;

  }
}
}
